* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
  vertical-align: middle;
}

body {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(#65cedc, #DC8665);
  color: #fff;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  border: 5px solid #65cedc;
}

.controls {
  font-family:'Dancing Script', cursive;
  font-size: 30px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  left: 150px;
}

.controls .score {
  flex-basis: 100%;
  text-align: center;
  left: 60px;
}

.controls .timer {
  width: 65px;
  font-size: 45px;
  margin-right: 20px;
}



.control-set {
  display: flex;
}

.control-set {
  display: flex;
}

.controls button[name='start'] {
  width: 200px;
  height: 70px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0.5px;
  background: #36C3C3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.controls button[name='restart'] {
  width: 200px;
  height: 70px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0.5px;
  background: #36C3C3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.controls button[name='start']:hover {
  background: #924244;
}

.controls button[name='restart']:hover {
  background: #924244;
}



.memory-game {
  width: 540px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16% - 10px);
  height: calc(16% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 5px solid #65cedc;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FC9483;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.gradient-border {
  --borderWidth: 10px;
  margin: 10px;
  background: #DC8665;
  position: relative;
  border: 3px solid #65cedc
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
